.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.start h1 {
  font-size: 2.5rem;
}

.start p {
  color: #714b94;
}

button {

}

button:hover {
  background-color: #48226b;
}