@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Preahvihear&display=swap');

html, body {
  min-height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #e7e1e1 0%, #c2bbbb 100%);
}

h1, h2 {
  font-family: 'Preahvihear', sans-serif;
  letter-spacing: .2rem;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}