@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Preahvihear&display=swap');

html,
body {
  min-height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #e7e1e1 0%, #c2bbbb 100%);
}

h1,
h2 {
  font-family: 'Preahvihear', sans-serif;
  letter-spacing: 0.2rem;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

button {
  padding: .8rem 2.4rem;
  border: none;
  background-color: #714b94;
  color: #ffffff;
  border-radius: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  transition: 300ms;
}
